/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
* {
  outline: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
}
aside {
  width: 100%;
  grid-area: aside;
}

.banner {
  height: 388px;
  width: 100%;

  display: -ms-grid;
  display: grid;
  background: #0d152e;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: 1fr 1fr;
}
.banner p {
  /* height: 35px; */
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: self-end;
  -ms-grid-row-align: self-end;
  align-self: self-end;
  font-size: 24px;
  font-family: "sailec-bold";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  padding: 0;
  padding-bottom: 31px;
  margin: 0;
}

.search {
  background: transparent;
  border: 0;
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #43495c;
  padding: 16px;
  width: 100%;
}

.search-container {
  -ms-grid-column-align: center;
  justify-self: center;
  background: #f9fbfe;
  border-radius: 8px;
  width: 90%;
  max-width: 552px;
  overflow: hidden;
  z-index: 2;
  margin-bottom: auto;
}

.suggestion {
  border: 0.5px solid #ced9e8;
  border-bottom: none;
}
main {
  width: 90%;
  max-width: 1150px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr;
  grid-template-columns: 4fr;
}
.first {
  -ms-grid-column-align: center;
  justify-self: center;
}
.info-container,
.content {
  position: relative;
  width: 100%;
  margin: 120px auto;
}
.content {
  margin: 64px auto;
}
.content p {
  color: #0032c9;
  font-size: 24px;
  font-family: "Sailec-Bold";
  padding-top: 8px;
}
.info-container {
  border: 0.5px solid #ced9e8;
  border-radius: 8px;
  background: #f9fbfe;
  text-align: center;
}
.info {
  margin: 56px auto;
  padding: 0 20px;
  color: #6b6f7d;
}
.info-container h1 {
  width: 80%;
  margin: auto;
  font-family: Sailec-Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #282f45;
}
.info-container p {
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #6b6f7d;
  padding-top: 15px;
}

.info-container h6 {
  font-family: "Sailec-Regular";
  font-weight: lighter;
  margin: 27px;
}

/* FAQ ACCORDION */
/* FAQ ACCORDION NEW CODE */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
* Accordion
*/
/* Basic Accordion Styles */

.question-container input[name="panel"] {
  display: none;
}

.question-container label {
  position: relative;
  display: block;
  /* padding: 16px; */
  padding: 0;
  /* padding-bottom: 16px; */
  font-size: 18px;
  color: #282f45;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
.hide {
  display: none;
}
.question-container label span {
  display: inline-block;
  margin-right: 50px;
  line-height: 25px;
}
.question-container label:after {
  content: url(../images/plus.png);
  position: absolute;
  right: 0;
  font-size: 20px;
  width: 1em;
  height: 1em;
  color: #999;
  text-align: center;
  border-radius: 50%;
}
.question-container input:checked + label:after {
  content: url(../images/minus.png);
  width: 1em;
  height: 1em;
  color: #999;
  /* adjsut line-height to vertically center icon */
  line-height: 0.8em;
}
.question-container .accordion__content {
  overflow: hidden;
  height: 0;
  max-height: 0;
  font-size: 20px;
  position: relative;
  padding: 0 5px;
  padding-left: 0;
  color: #6b6f7d;
  transition: max-height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  -webkit-transition: max-height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  -moz-transition: max-height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  -ms-transition: max-height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  -o-transition: max-height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

.question-container .accordion__content .accordion__header {
  padding: 0 16px;
}

.question-container .accordion__content .accordion__body {
  font-size: 16px;
  line-height: 22px;
  padding-top: 16px;
}

/* 
* Size Variations
*/
input[name="panel"]:checked ~ .accordion__content.accordion__content--small {
  height: auto;
  max-height: 150px;
}

input[name="panel"]:checked ~ .accordion__content.accordion__content--med {
  max-height: 200px;
}

input[name="panel"]:checked ~ .accordion__content.accordion__content--large {
  /* height: 300px; */
  max-height: 300px;
}

/* FAQ ACCORDION NEW CODE END */
/* .question-container, */
.suggestion .question-container {
  position: relative;
  /* padding: 0;
  padding-top: 0; */
  border-bottom: 0.5px solid #ced9e8;
}
.suggestion .question-container label span {
  margin-right: 50px;
  line-height: 23px;
}
.question,
.suggestion .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #282f45;
  width: 100%;
  font-family: Sailec-Medium;
  line-height: 21px;
  font-size: 20px;
  padding-right: 10px;
  transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  -webkit-transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  -moz-transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  -ms-transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  -o-transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
/* .question {
  display: inline;
} */

.question-container {
  padding: 32px 0;
  border-bottom: 0.5px solid #ced9e8;
  /* max-width: 734px; */
}
.content .question-container:first-child {
  padding-top: 24px;
}
.suggestion .question {
  width: 95%;
  margin: 0 auto;
}
.suggestion .question-container {
  margin: 0 auto;
}
/* .question p, */
.suggestion .question p {
  color: #282f45;
  cursor: pointer;
  padding: 16px;
  padding-right: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  list-style-type: none;
  font-family: Sailec-Medium;
  line-height: 21px;
}
.question p {
  padding-left: 0;
}

.panel,
.suggestion .panel {
  /* max-height: 0; */
  overflow: hidden;
  position: relative;
  transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-out;
  -moz-transition: max-height 0.2s ease-in-out;
  -ms-transition: max-height 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out;
  -webkit-transition: max-height 0.2s ease-in-out;
}
/* .suggestion .panel {
  max-height: 150px;
  overflow: visible;
} */
.panel p,
.suggestion .panel p {
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6b6f7d;
  /* padding: 5px; */
  padding-left: 0;
  width: 90%;
}

.suggestion .panel p {
  text-align: left;
  padding: 10px;
  padding-bottom: 0;
}
.suggestion input {
  visibility: hidden;
}

/* FAQ ACCORDION */
.phone,
.email {
  width: 90%;
  margin: auto;
  background: #ffffff;
  padding: 26px 0;
  border: 0.5px solid #c5c9d5;
  border-radius: 8px;
}
.phone p,
.email p {
  padding-top: 24px;
  padding-bottom: 8px;
  font-family: Sailec-Medium;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #282f45;
}

.phone span,
.phone h6,
.email h6 {
  margin: 0 auto;
  width: 70%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #6b6f7d;
}
.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.email {
  background: #0d2770;
  margin-top: 27px;
  color: #ffffff;
  border: 0.5px solid #c5c9d5;
}
.email p,
.email h6 {
  color: #fff;
  border: none;
}
.sales {
  width: 80%;
  max-width: 743px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 0;
  border-top: 0.5px solid #c5c9d5;
}
.sales h1 {
  width: 100%;
  margin: 27px auto;
}

.sales p {
  font-family: "Sailec-Medium";
  color: white;
  background: #0032c9;
  border-radius: 4px;
  font-size: 18px;
  padding: 20px 34px;
  width: 70%;
  margin: 27px auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 750px) {
  .info-container h1 {
    width: 100%;
    font-size: 32px;
    line-height: 36px;
  }
  .question-container label {
    font-size: 20px;
  }
  .content p {
    font-size: 32px;
  }
  .info p {
    width: 548px;
    margin: auto;
  }
  .contact {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: auto;
  }
  .email {
    margin: 0;
  }
  .email,
  .phone {
    width: 100%;
    height: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 24px;
    margin: 0;
  }
  .email p,
  .phone p {
    margin: 0 auto;
  }
  .sales {
    width: 100%;
    height: 192px;
    margin-left: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .sales p {
    -ms-grid-column-align: self-end;
    justify-self: self-end;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 209px;
    margin: 0;
    margin-right: 20px;
  }
  .sales h1 {
    width: 100%;
    margin: 0;
    align-self: center;
    text-align: left;
  }
}
@media only screen and (min-width: 900px) {
  .contact {
    width: 743px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: auto;
  }
  .info p {
    width: 583px;
    margin: auto;
  }
  .email,
  .phone {
    width: 359px;
    height: 166px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 24px;
    margin: 0;
  }
  .email p,
  .phone p {
    width: 328px;
    margin: 0 auto;
  }

  .sales {
    /* width: 734px; */
    height: 192px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .sales p {
    -ms-grid-column-align: self-end;
    justify-self: self-end;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 229px;
    margin: 0;
  }
  .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 4fr;
    grid-template-columns: 1fr 2fr;
    /* grid-gap: 120px; */
    margin: 68px auto 0;
  }
  .content-head {
    min-width: 200px;
    /* margin-left: 120px; */
  }
  .question {
    -ms-grid-columns: 80% 20%;
    grid-template-columns: 80% 20%;
  }
}
@media only screen and (min-width: 1024px) {
  .banner p {
    font-family: Sailec-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    color: #ffffff;
  }

  .banner {
    position: absolute;
    left: 0;
    top: 80px;
    max-width: 1440px;
    margin: 0 auto;
  }
  main .first-content {
    margin-top: 500px;
  }
  .content .question-container:first-child {
    padding-top: 15px;
  }
}
@media only screen and (min-width: 1150px) {
  .info-container {
    /* width: 90%; */
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1440px) {
  .banner {
    position: relative;
    top: 0;
  }
  main .first-content {
    margin-top: 68px;
  }
  .info-container {
    width: 100%;
  }
}
