/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@import url("../css/fonts.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
*:focus {
  outline: none;
  background-color: none;
}
/* MAIN CSS */
main {
  margin-top: 0;
  padding-top: 24px;
  background: #ffffff;
}
.offer {
  background: #ffffff;
  width: 100%;
  padding-bottom: 50px;
}
.summary {
  width: 90%;
  max-width: 460px;
  margin: 72px auto 0;
  padding-bottom: 135px;
}
.content {
  position: relative;
  padding: 22px 24px;
  margin: 0 auto;
  width: 100%;
}
.info {
  margin-bottom: 30px;
  width: 250px;
}
.heading {
  font-family: Sailec-Medium;
  font-size: 20px;
  line-height: 25px;
  color: #282f45;
  margin-bottom: 57px;
  /* MARGIN BOTTOM USD FOR DATA SUMMARY PAGE */
}
.note {
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #6b6f7d;
}

form {
  margin-bottom: 128px;
}
form > div {
  margin-bottom: 32px;
}
label {
  display: block;
  padding-bottom: 8px;
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #43495c;
  width: 100%;
}

.upload-ecode input,
select {
  width: 100%;
  height: 48px;
  color: #6b6f7d;
  padding: 13px auto 13px 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 8px;
  border: #e5e5e5 0.5px solid;
  background: #ffffff;
  border: 0.5px solid #c5c9d5;
  box-sizing: border-box;
  border-radius: 4px;
}

select {
  background: transparent;
}
form p {
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #6b6f7d;
  padding-top: 16px;
}
#cardReceipt,
#cardCode {
  margin-right: 20px;
}
.button {
  font-family: Sailec-Medium;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #0032c9;
  border-radius: 4px;
  padding: 14px 15px;
  height: 48px;
  margin: 0 auto;
  display: inline-flex;
  align-content: center;
}

.button span {
  vertical-align: middle;
}
.button-wrapper {
  box-sizing: border-box;
  margin-top: 68px;
  text-align: center;
}

/*  FOR TRANSACTION SUMMARY PAGE */
.bold {
  grid-column: 1/3;
  padding-top: 72px;
  font-family: Sailec-Bold;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #6b6f7d;
}
.order {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 155px 1fr;
  margin-bottom: 40px;
}
.green {
  color: #08ad5e;
}
.order-info p,
.order-details p {
  padding: 8px 0;
}
.order-info {
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #9b9ea9;
}
.order-details {
  font-family: Sailec-Medium;
  font-size: 16px;
  line-height: 19px;
  color: #43495c;
  justify-self: self-end;
  text-align: right;
}

/* PAYMENT METHOD PAGE */
.payment-method {
  grid-column: 1/3;
  width: 100%;
  position: relative;
}
.payment-method div {
  display: grid;
  grid-template-columns: 60px 1fr 30px;
  background-color: #f9fbfe;
  background-image: url(../images/payment-arrow.png);
  background-position: 95%;
  background-repeat: no-repeat;
  border: 0.5px solid #c5c9d5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 15px;
  padding-right: auto;
  width: 100%;
}
/* FOR CARD UPLOAD PAGES */
.card-upload-wrapper {
  width: 100%;
  max-width: 338px;
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: auto;
}
#image,
#receipt {
  position: absolute;
  width: 100%;
}

.upload-img,
.card-receipt,
.upload-receipt {
  position: relative;
  display: flex;
  justify-content: stretch;
  height: 48px;
  padding-left: 16px;
  margin: 8px auto 12px;
  align-items: center;
  border: 1.5px dashed #ced9e8;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

div.card-receipt {
  border: 0.5px solid #c5c9d5;
  justify-content: flex-start;
  padding-left: 16px;
  margin-bottom: 112px;
}
.upload-img p,
.card-receipt p,
.upload-receipt p {
  padding-top: 0px;
  margin: 10px;
}

#uploadReceipt,
.upload-ecode {
  margin-top: 14px;
}
#addMorePix,
#error {
  margin-top: 12px;
  font-family: Sailec-Medium;
  font-size: 12px;
  line-height: 14px;
  color: #0032c9;
}
#error {
  color: red;
}

.card-code {
  background-color: #f9fbfe;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 32px 0 24px;
  padding: 12px;
  padding-right: auto;
  width: 100%;
}
.card-code p {
  margin-bottom: 17px;
  font-size: 12px;
  color: #282f45;
  line-height: 18px;
}
.card-code span,
.card-receipt span {
  vertical-align: top;
  color: #6b6f7d;
}
.cardAmount {
  padding-bottom: 20px;
}
.cardAmount,
.totalPrice,
.sum,
.hidecard,
#fileElem,
.card-price-wrapper {
  display: none;
}
.filename {
  color: #0230b1;
}

/* END OF CARD UPLOAD CSS */

.method {
  align-self: center;
  font-family: Sailec-Medium;
  font-size: 16px;
  line-height: 19px;
  color: #282f45;
}
.how {
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #6b6f7d;
  margin-right: 16px;
  padding-top: 5px;
  width: 80%;
}

/* PAYMENT CONFIRMATION PAGE */

.card-details-wrapper {
  width: 100%;
  max-width: 338px;
  padding: 32px 0;
  border-top: 0.5px solid #c5c9d5;
  border-bottom: 0.5px solid #c5c9d5;
  margin-bottom: 30px;
}
.card-details {
  background-color: #f9fbfe;
  width: 100%;
  max-width: 338px;
  margin: 0;
  border: 0.5px solid #6b6f7d;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px;
}
.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  margin: 5px auto;
  grid-column-gap: 5px;
}
.card-details p {
  padding: 0;
  margin: 0;
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #282f45;
}
p.card-type {
  font-family: Sailec-Medium;
  font-size: 16px;
  line-height: 19px;
}
p.card-price {
  display: block;
  font-family: Sailec-Medium;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
.sum {
  max-width: 338px;
  margin-top: -30px;
  padding: 0;
  text-align: right;
}

.card-upload {
  display: grid;
  grid-template-columns: 60px 1fr 30px;
  background-color: #f9fbfe;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 15px;
  padding-right: auto;
  width: 100%;
}
.upload-img-wrapper p {
  font-family: Sailec-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #6b6f7d;
  padding: 0;
}

.selectedCard-wrapper,
.details {
  display: flex;
  align-items: center;
}
.selectedCard-wrapper > div {
  margin-left: 0;
  width: 85%;
}
.delete {
  align-self: center;
  cursor: pointer;
}

/* PAYENT WITH PHONE */
.total {
  display: flex;
  justify-content: space-between;
  background: #0032c9;
  border-radius: 4px;
  align-content: center;
  padding: 15px 12px;
  color: #ffff;
  width: 100%;
  margin-bottom: 32px;
}

.card-details {
  width: 100%;
  max-width: 366px;
  margin-left: 0;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 351px) {
  /* MAIN CSS */
  label {
    font-size: 16px;
  }
}
@media only screen and (min-width: 750px) {
  /* MAIN PART */
  main {
    background: #f9fbfe;
  }
  .offer {
    background: #ffffff;
    border: 0.5px solid #ced9e8;
    box-sizing: border-box;
    border-radius: 8px;
    width: 90%;
    max-width: 984px;
    margin: auto;
    padding-top: 29px;
    padding-bottom: 50px;
  }
  .info {
    width: auto;
  }
  form {
    justify-self: center;
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 850px) {
  /* MAIN PART */

  .offer {
    margin-left: 24px;
  }
  .heading {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 18px;
  }
  .note {
    font-size: 18px;
    line-height: 25px;
  }
  .order {
    grid-template-columns: 1fr 1fr;
  }
  .order-details {
    justify-self: self-end;
  }
}
@media only screen and (min-width: 1024px) {
  /* MAIN PART */

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .info {
    grid-column: 1/2;
    justify-self: self-start;
    margin-bottom: 30px;
    width: 327px;
  }
  form {
    grid-column: 2/3;
    grid-row: 1;
    justify-self: self-end;
  }
  form input,
  select {
    max-width: 338px;
  }
  .button-wrapper {
    text-align: center;
    margin-top: 112px;
  }
  .payment-method {
    grid-column: 2/3;
    width: 90%;
  }
  .how {
    width: 80%;
  }
}

@media only screen and (min-width: 1440px) {
  .offer {
    max-width: 984px;
  }
  .content {
    grid-template-columns: 385px 1fr;
    column-gap: 113px;
  }
  .pay-by-phone {
    width: 90%;
  }
}
